* {
  margin: 0;
  padding:0;
}

body {
  font-family: Microsoft YaHei;
  font-size: 0.8em;
}

.app-container div {
  width: 100%;
}

.menu-bar {
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
}

.editor-window {
  background: green;
  height: 600px;
}

.status-bar {
  background: blue;
  position: absolute;
  bottom: 0;
  left: 0; 
  height: 21px;
}
