.notepad-dlg-font {
  z-index: 10;
}

.notepad-dlg-font .dialogbox {
  height: 498px;
  width: 438px;
}

.notepad-dlg-font .main {
  height: 466px;
}

.notepad-dlg-font .main .font-family,
.notepad-dlg-font .main .font-style {
  display: inline-block;
  margin-right: 16px;
}

.notepad-dlg-font .main .sample {
  border-color: white;
  height: 78px;
  margin-top: 28px;
  width: 194px;
}

.notepad-dlg-font .main .script {
  margin-top: 12px;
}

.notepad-dlg-font .main select {
  height: 22px;
  width: 214px;
}
.notepad-dlg-font .main .font-size {
  display: inline-block;
}

.notepad-dlg-font .main .btn-ok {
  bottom: 10px;
  position: absolute;
  right: 110px;
}

.notepad-dlg-font .main .btn-cancel {
  bottom: 10px;
  position: absolute;
  right: 16px;
}
