.notepad-dlg-about {
  z-index: 10;
}

.notepad-dlg-about .dialogbox {
  height: 400px;
  width: 536px;
}

.notepad-dlg-about .main {
  height: 368px;
}

.notepad-dlg-about .main .slogan {
  color: #0077c8;
  font-size: 4em;
  line-height: 100px;
  text-align: center;
}

.notepad-dlg-about .main .app-logo {
  margin: 30px 10px;
}

.notepad-dlg-about .main .info {
  display: inline-block;
  font-size: 1.2em;
  height: 100px;
  line-height: 25px;
  margin-left: 5px;
}

.notepad-dlg-about .main .btn-ok {
  bottom: 16px;
  position: absolute;
  right: 12px;
}
